{% extends "photoalbum/base.html" %}

{% block content %}

<article class="media content-section">
    <img class="rounded-circle article-img" src="#">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">nnnn</a>
            <small class="text-muted">nnnn</small>
        </div>
        <a class="article-title" href="#">
            <p class="article-content">nnnn</p>
        </a>
        <small class="text-muted">Komentarze: </small>
    </div>
</article>

{% endblock %}