{% extends "photoalbum/base.html" %}
{% load photoalbum.extras %}
{% load crispy_forms_tags %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ photo.user.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ photo.user }}</a>
            <small class="text-muted">{{ photo.creation_date|date:"F d, Y" }}</small>
        </div>
        <img class="img-fluid" src="{{ photo.path.url }}"><br>
        <a class="article-title" href="{% url 'show-photo' photo.id %}">
            <p class="article-content">{{ photo.content }}</p>
        </a>
        <small class="text-muted">Komentarze: {{ photo|count_comments }}</small>
    </div>
</article>
{% if comments %}
{% for comment in comments %}
    <article class="media content-section ml-5">
        <img class="rounded-circle article-img" src="{{ photo.user.profile.image.url }}">

        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ comment.user }}</a>
                <small class="text-muted">{{ comment.creation_date|date:"F d, Y" }}</small>
            </div>
            <p class="article-content">{{ comment.content }}</p>
        </div><br>

    </article>
        {% endfor %}
{% endif %}
 <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <label class="border-bottom mb-4">Dodaj komentarz</label>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Wyślij</button>
            </div>
        </form>
</div>
{% endblock %}